.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  margin: 5px;
  padding: 5px;
  background-color: lightsalmon;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: large;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: small;
}
